
.divTable{
  height: 80px;
  overflow: scroll;
  position: relative;
}
@media only screen and (max-height: 900px) {
  .divTable{
      height: 420px;
      overflow: scroll;
      position: relative;
  }

  .foot-globale{
      margin-top: 3%;
  }
}
.divTable table {
  position: relative;
  border-collapse: collapse;
}
.divTable thead tr th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
 /* z-index:1;*/
}
/*
.divTable td:first-child,.divTable th:first-child {
  position:sticky;
  position: -webkit-sticky;
  left:0;
  z-index:1;
  background-color:white;
}*/
/* .divTable th:first-child {
 z-index:1;
}*/